# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
mlenv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS / Windows system files
.DS_Store
Thumbs.db

# Secrets
.streamlit/secrets.toml

# Excel outputs
*.xlsx

# Logs
*.log

# Streamlit temporary files
.streamlit/config.toml
.streamlit/*.json

# PyMuPDF temp files (if any)
*.xref
